.ant-picker-input input {
  position: static !important;
}

.ant-picker-input {
  position: static !important;
}

.ant-picker-range-separator span.ant-picker-separator {
  position: static !important;
}
